body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: lime;
    overflow: hidden;
    margin: 0; /* Ensure there's no default margin */
    padding: 0; /* Ensure there's no default padding */
}
